.testimonialSpace
  h2 What Clients Say...
  
  .testie1
    p.testieQuote
      | Tanya 
      span.boldPartQuote
        | identifies and attracts highly skilled professionals that fit into our area of practice... 
      | Tanya has assisted us with our recruitment needs both on the personal and corporate side of our practice.
    p.testieQuote
      | Tanya helps us fill vacancies quickly. 
    p.testieQuote
      span.boldPartQuote
        | After more than fifteen years of dedicated service, we continue to rely on Tanya&rsquo;s skills and understanding of our culture to effectively satisfy our recruitment needs in a very competitive market.
    p.testieName Natasha Mills - Director, Human Resources Manager
    p.testieCompany A. Farber &amp; Partners Inc.
    p.disclaimer
      a(href='disclaimer.html', target='_blank') generally expected results statement
  
  .testie2
    p.testieQuote
      | "
      span.boldPartQuote
        | Tanya provides our organization with outstanding candidates in a timely, cost effective manner. A pleasure to work with."
    p.testieQuote
      | I highly recommend Tanya to any other organization for prompt, professional recruitment services.
    p.testieName Mira Ismail, Manager
    p.testieCompany Toronto Centre For Medical Imaging
    p.disclaimer
      a(href='disclaimer.html', target='_blank') generally expected results statement
