.testimonialSpace
  h2 What Clients Say...
  .testie1
    p.testieQuote
      | “Brian is a trustworthy business partner and has 
      span.boldPartQuote
        | successfully recommended outstanding candidates to Phillips E.T. despite the difficulty to hire for our highly specialized roles
      | . During my interaction with many recruiting firms, Brian and his firm stand out because of their 
      span.boldPartQuote
        | dedication to customer service, quality of candidates and extensive knowledge of our industry
      | . I enjoy working with Brian and will ask for his help whenever I have recruiting needs."
    p.testieName Fang (Ann) Wei, HR Manager
    p.testieCompany Formerly at Phillips Engineering Technologies - Heavy Machine Tools
    p.disclaimer
      a(href='disclaimer.html', target='_blank') generally expected results statement
  .testie2
    p.testieQuote
      | "Brian provided a service that was exceptionally rewarding. Brian was 
      span.boldPartQuote always on top of the process and followed through with exceptional results
      | . I will recommend Brian to any that need his services. GREAT JOB WELL DONE!"
    p.testieName Kevin Maye, Maintenance Supervisor
    p.testieCompany KIK Custom Products
    p.disclaimer
      a(href='disclaimer.html', target='_blank') generally expected results statement
