meta(name='keywords', content='aviation headhunter, aviation recruiter, aviation recruiting firm, aviation recruitment, aviation recruitment consultant, aviation recruitment agencies, aviation recruitment specialist, aviation recruitment companies, aviation recruiter services, aviation recruiters and headhunters')
meta(name='description', content='A head-hunter, recruiter and human resources agency specializing in aerospace &amp; aviation recruitment (engineers, management, technical sales) - Montreal, Quebec, Canada.')
