meta(name='keywords', content='aerospace engineer recruiters, aerospace engineer recruiting, aerospace engineering recruiter, aerospace engineering recruiters, aerospace engineering recruitment, aerospace engineering recruitment agency, aerospace engineering recruitment company, aerospace engineering recruitment specialists')
meta(name='description', content='A head-hunter, recruiter and human resources agency specializing in aerospace engineering &amp; aviation engineering recruitment - Montreal, Quebec, Canada.')
