meta(name='keywords', content='aerospace headhunter, aerospace recruiter, aerospace recruiting firm, aerospace recruitment, aerospace recruitment consultant, aerospace recruitment agencies, aerospace recruitment specialist, aerospace recruitment companies, aerospace recruiter services, aerospace recruiters and headhunters')
meta(name='description', content='A head-hunter, recruiter and human resources company specializing in aerospace &amp; aviation recruitment (engineers, management, technical sales) - Vaughn, Mississauga/GTA Ontario.')
meta(name="robots", content="noindex,nofollow")