extends index.layout.jade

block title
  title Contact

//- block scriptSet
//-   include ./common6/includes/head_scripts/head.scripts.Brian.tollfree.jade

//- block gtmCode
//-   include ./common6/includes/gtm/gtm.manuf.recruit.jade

//- block header
//-   include ./common6/includes/header/header.Brian.jade

block body_centre
  //- include ./common6/includes/blurb/contact.blurb.Tanya.jade
  include ./common6/includes/blurb/contact.blurb.Brian.jade
  //- include ./common6/includes/blurb/contact.blurb.jade

//- block bottomBox
//-   include ./common6/includes/bottombox/bottombox.Brian.112214.jade
