extends index.layout.pug

block title
  title Contact

//- block scriptSet
//-   include ./common6/includes/head_scripts/head.scripts.Brian.tollfree.pug

//- block gtmCode
//-   include ./common6/includes/gtm/gtm.manuf.recruit.pug

//- block header
//-   include ./common6/includes/header/header.Brian.pug

block body_centre
  //- include ./common6/includes/blurb/contact.blurb.Tanya.pug
  include ./common6/includes/blurb/contact.blurb.Brian.pug
  //- include ./common6/includes/blurb/contact.blurb.pug

//- block bottomBox
//-   include ./common6/includes/bottombox/bottombox.Brian.112214.pug
