extends index.layout.jade

block metaExtra
  meta(name="robots",content="noindex,nofollow")

block title
  title Disclaimer and Generally Expected Results

//- block scriptSet
//-   include ./common6/includes/head_scripts/head.scripts.Brian.tollfree.jade

//- block gtmCode
//-   include ./common6/includes/gtm/gtm.manuf.recruit.jade

//- block header
//-   include ./common6/includes/header/header.Brian.jade

block body_centre
  include ./common6/includes/blurb/disclaimer.blurb.jade

//- block bottomBox
//-   include ./common6/includes/bottombox/bottombox.Brian.112214.jade
