extends index.layout.pug

block metaExtra
  meta(name="robots",content="noindex,nofollow")

block title
  title Disclaimer and Generally Expected Results

//- block scriptSet
//-   include ./common6/includes/head_scripts/head.scripts.Brian.tollfree.pug

//- block gtmCode
//-   include ./common6/includes/gtm/gtm.manuf.recruit.pug

//- block header
//-   include ./common6/includes/header/header.Brian.pug

block body_centre
  include ./common6/includes/blurb/disclaimer.blurb.pug

//- block bottomBox
//-   include ./common6/includes/bottombox/bottombox.Brian.112214.pug
