extends index.layout.pug

block metaExtra
  include ./common6/includes/meta/meta.hidden.thank.pug

block title
  title Confirmation Success

//- block scriptSet
//-   include ./common6/includes/head_scripts/head.scripts.Brian.tollfree.pug

//- block gtmCode
//-   include ./common6/includes/gtm/gtm.manuf.recruit.pug

//- block header
//-   include ./common6/includes/header/header.Brian.pug

block body_centre
  include ./common6/includes/blurb/thankyou.blurb.pug

//- block bottomBox
//-   include ./common6/includes/bottombox/bottombox.Brian.112214.pug
