extends index.layout.jade

block metaExtra
  include ./common6/includes/meta/meta.hidden.thank.jade

block title
  title Confirmation Success

//- block scriptSet
//-   include ./common6/includes/head_scripts/head.scripts.Brian.tollfree.jade

//- block gtmCode
//-   include ./common6/includes/gtm/gtm.manuf.recruit.jade

//- block header
//-   include ./common6/includes/header/header.Brian.jade

block body_centre
  include ./common6/includes/blurb/thankyou.blurb.jade

//- block bottomBox
//-   include ./common6/includes/bottombox/bottombox.Brian.112214.jade
