extends bottombox.layout.pug

block phoneNumber
	| (416) 598-4020

block address
	| Campbell Morden Search Consultants
	br
	| 2 Bloor Street East, Suite 3500
	br
	| Toronto, ON  M4W 1AB
	br
	| (416) 598-4020
	br
