.btm_box
  | Call Now For Your
  | FREE Consultation
  | (905) 482-0636
script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js')
div(style='text-align: center; clear: both;')
  a(href='#', onclick='jQuery(\'#contact-box\').toggle(\'slow\'); return false;') Contact Us
#contact-box(style='display: none; width: 200px; margin-left: 40px; font-size: 14px;')
  | Campbell Morden Search Consultants
  br
  | 400 Applewood Crescent Unit #100
  br
  | Vaughan, ON  L4K 0C3
  br
  | Phone: (905) 482-0636
  br