extends tooltip.manuf.layout.pug

block tooltip1
    | We're A Health Recruitment Agency That Specializes In 
    a.tooltip(href='javascript:void(0)')
      | Recruiting for Any Private Allied Healthcare Practice...
      span
        strong Specifically...
        br
        i.fa.fa-angle-double-right
        |  Occupational Therapists
        br
        i.fa.fa-angle-double-right
        |  Physiotherapists
        br
        i.fa.fa-angle-double-right
        |  Disability Case Management Specialists
        br
        i.fa.fa-angle-double-right
        |  Ultrasound Technologists/Technicians
        br
        i.fa.fa-angle-double-right
        |  Sonographers
        br
        i.fa.fa-angle-double-right
        |  Mammogram Technologists/Technicians
        br
        i.fa.fa-angle-double-right
        |  Clinical Managers
        br
        i.fa.fa-angle-double-right
        |  Independent Medical Evaluations (IME) Schedulers
        br
        i.fa.fa-angle-double-right
        |  Intake Coordinators
        br
        i.fa.fa-angle-double-right
        |  Kinesiologists
        br
        i.fa.fa-angle-double-right
        |  Occupational Health Nurses
        br
        i.fa.fa-angle-double-right
        |  Bilingual Nurses
        br
        i.fa.fa-angle-double-right
        |  Pharmacists
        br
        i.fa.fa-angle-double-right
        |  Chiropractors
        br
        i.fa.fa-angle-double-right
        |  Seniors
        br
        i.fa.fa-angle-double-right
        |  Long-Term Care
        br
        i.fa.fa-angle-double-right
        |  Speech Language Pathologists
        br
        i.fa.fa-angle-double-right
        |  Claims Managers/Coordinators with (SABS) Statutory Accident Benefits legislation experience