extends tooltip.manuf.layout.jade

block tooltip1
    | We're A Manufacturing Recruitment Agency That Specializes In 
    a.tooltip(href='javascript:void(0)')
      | Recruiting for Automotive, Aerospace, Green Energy, Industrial &amp; Food Related Businesses...
      span
        strong Specifically...
        br
        i.fa.fa-angle-double-right
        |  Automotive
        br
        i.fa.fa-angle-double-right
        |  Aerospace
        br
        i.fa.fa-angle-double-right
        |  Green Energy
        br
        i.fa.fa-angle-double-right
        |  Solar &amp; Wind Turbine Manufacturing
        br
        i.fa.fa-angle-double-right
        |  Processing &amp; Production for Consumer Products
        br
        i.fa.fa-angle-double-right
        |  Industrial Applications (Laundry, Household Cleaners, Pharmaceutical, Health &amp; Beauty/Cosmetics)
        br
        i.fa.fa-angle-double-right
        |  Processing &amp; Production for Food &amp; Beverage Industry