extends clientlogos.layout.jade

block h2
	h2 Fortune 500 Clients Include...

block phoneNumber
	| (416) 598-4020

block imageSet1
	//- each val in ['common6/images/clientLogos/fortune500/cg1987387432753.gif','common6/images/clientLogos/fortune500/pg1782240489.jpg','common6/images/clientLogos/fortune500/sl29873487323.jpg']
	//- 	img(src=val,alt='Client Logo')
	+createImages(['common6/images/clientLogos/fortune500/cg1987387432753.gif','common6/images/clientLogos/fortune500/pg1782240489.jpg','common6/images/clientLogos/fortune500/sl29873487323.jpg'])

block imageSet2
	+createImages(['common6/images/clientLogos/health/19723947901789273489273.jpg','common6/images/clientLogos/health/19873894792734.jpg','common6/images/clientLogos/health/109827348973984.jpg'])

block imageSet3
	+createImages(['common6/images/clientLogos/health/1098237498723894.png','common6/images/clientLogos/health/1938740972498234.png','common6/images/clientLogos/health/1982734987389742.jpg'])

block imageSet4
	+createImages(['common6/images/clientLogos/health/19082374897238423.png','common6/images/clientLogos/health/19287349872039481.png','common6/images/clientLogos/health/19723408971902374.jpg'])

block imageSet5
	+createImages(['common6/images/clientLogos/health/19823748972349803.gif','common6/images/clientLogos/health/19823749872389473.png','common6/images/clientLogos/health/192734987837422343.jpg'])

block imageSet6
	+createImages(['common6/images/clientLogos/health/198238947017239487.jpeg','common6/images/clientLogos/health/198273489071982374.gif','common6/images/clientLogos/health/198723489723849793.jpg'])

block imageSet7
	+createImages(['common6/images/clientLogos/health/198728934789701234.jpg','common6/images/clientLogos/health/1928374982734897234.png','common6/images/clientLogos/health/192374892703497293847.png'])

block imageSet8
	+createImages(['common6/images/clientLogos/health/198237487384931234324.jpg','common6/images/clientLogos/health/1092738497348.png'])