////////////////////////////////////////////////
// 		VARIABLES
////////////////////////////////////////////////

////////////////////////////////////////////////
// 		MIXINS
////////////////////////////////////////////////

@mixin logoHoverEffect {
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-o-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-ms-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

@mixin clientClickEffect {
	-webkit-box-shadow: inset -5px -7px 5px 0px rgba(102,204,102,1);
	-moz-box-shadow: inset -5px -7px 5px 0px rgba(102,204,102,1);
	-o-box-shadow: inset -5px -7px 5px 0px rgba(102,204,102,1);
	-ms-box-shadow: inset -5px -7px 5px 0px rgba(102,204,102,1);
	box-shadow: inset -5px -7px 5px 0px rgba(102,204,102,1);
}

////////////////////////////////////////////////
// 		MAIN CODE
////////////////////////////////////////////////

.clientLogoSpace {
	clear:both;
	width: 102.6%;
	& h2 {
		text-align: center;
		padding-top: 20px;
	}
}

.clientLogoStack {
	padding: 20px;
	position: relative;
	& img {
		display: inline-block;
		padding: 5%;
		max-width: 33%;
		max-height: 50%;
		&:hover {
			@include logoHoverEffect;
		}
	}
	& span {
		display: inline-block;
		margin: 0 auto;
	}
}

// For the emet.101714.1.png that is transparent and requires a background to be seen
#emetBackground {
	background: black;
}

.rack1 h2 {
	text-align: center;
}

.rack1 img:nth-of-type(3) {
	max-width: 20%;
}

.rack6 img:nth-of-type(3) {
	max-width: 20%;
}

.rack2 span.callNowAction, .rack4 span.callNowAction, .rack6 span.callNowAction, .rack7 span.callNowAction {
	display: none;
}

////////////////////////////////////////////////
// 		SUBSECTION: CALL NOW STATEMENT
////////////////////////////////////////////////

.callNowAction {
	font-family: $basefontfamily;
	margin: 5%;
	position: absolute;
	bottom: 0;
	left: 33.3%;
}

////////////////////////////////////////////////
// 		SUBSECTION: SHOW MORE CLIENTS BUTTON
////////////////////////////////////////////////

.showMoreClientsClick {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	margin: 5%;
	position: absolute;
	bottom: 5px;
	left: 0;
	text-shadow: 2px 2px 0px #666;
	& a {
		background: #27ae60;
		padding: 3px;
		border-radius: 3%;
		box-shadow: 2px 2px 3px grey;
		color:white;
		&:link {
			text-decoration: none;
		}
		&:hover {
			@include clientClickEffect;
		}
	}
}

