////////////////////////////////////////////////
// 		IMPORTS
////////////////////////////////////////////////

@import 'normalize';
@import 'typography';
// as of Tuesday, November 25, 2014 9:02 PM; there's a current error within Prepros that prevents media queries from being imported into the main "style.scss" file unless the media query is within a selector instead of outside
// you must now include the media queries within the individual files instead of a separate one
// in a way this is inconvenient and yet at the same time not
@import 'responsive';

////////////////////////////////////////////////
// 		VARIABLES
////////////////////////////////////////////////



////////////////////////////////////////////////
// 		MIXINS
////////////////////////////////////////////////

@mixin pieBehaviour {
	behavior:url(PIE.htc);
}

////////////////////////////////////////////////
// 		CODE START
////////////////////////////////////////////////

@import 'basecode';

////////////////////////////////////////////////
// 		WRAPPER
////////////////////////////////////////////////

.wrapper { 
	margin:0 auto; 
	max-width:970px;
	@include tabletZ {
		padding: 0 10px;
	}
	@include phabletZ {
		padding: 0 10px;
	}
}

////////////////////////////////////////////////
// 		HEADER
////////////////////////////////////////////////

@import 'header';

////////////////////////////////////////////////
// 		MAIN
////////////////////////////////////////////////

@import 'main';

////////////////////////////////////////////////
// 		BODY CENTER
////////////////////////////////////////////////

@import 'bodycentre';

////////////////////////////////////////////////
// 		LEFT SIDE
////////////////////////////////////////////////

@import 'leftsec';

////////////////////////////////////////////////
// 		RIGHT SIDE
////////////////////////////////////////////////

@import 'rightsec';

////////////////////////////////////////////////
// 		TOOLTIP
////////////////////////////////////////////////

@import 'tooltip';

////////////////////////////////////////////////
// 		FORM BOX
////////////////////////////////////////////////

@import 'formbox';


////////////////////////////////////////////////
// 		TESTIMONIALS
////////////////////////////////////////////////

@import 'testimonial';

////////////////////////////////////////////////
// 		AFFILIATIONS
////////////////////////////////////////////////

@import 'affiliation';

////////////////////////////////////////////////
// 		CLIENT LOGOS
////////////////////////////////////////////////

// Tanya's logos
// @import '_clientlogo.112314.1';

// Brian's logos
// I've changed this so that Brian's logos are classed differently than Tanya's.  There all in the same file so it shouldn't matter if it's overwritten.
@import '_clientlogo.112414.1';

////////////////////////////////////////////////
// 		BOTTOM BOX
////////////////////////////////////////////////

@import 'bottombox';

////////////////////////////////////////////////
// 		FOOTER
////////////////////////////////////////////////

@import 'footer';


////////////////////////////////////////////////
//    DISCLAIMER PAGE
////////////////////////////////////////////////

@import 'disclaimer';

