header
	a.logo(href='index.html')
		block headerImage
			img(src='common6/images/1412984300-2396-28733.jpg', alt='Campbell Morden Logo')
	block CTA
		h1
			| Call Now For Your
		h1
			| FREE Consultation
	block phoneNumber
		h1 (905) 482-0636