//if IE
// script(type='text/javascript', src='common6/js/html5.js')
// <script type="text/javascript" src="common6/js/jquery.js"></script> 
// You'll throw an error if you use <link> tag instead of <script> tag 
script(type='text/javascript', src='common6/js/jquery-2.1.1.min.js')
script(type='text/javascript', src='common6/js/jquery-ui-1.11.1.custom/jquery-ui.min.js')
script(type='text/javascript', src='common6/js/script.js')
// replace this CallRail code with the correct one for area
block callRail
	script(type='text/javascript', src='//cdn.callrail.com/companies/218690054/28224ce40cecd3fd2ac6/12/swap.js')