extends left_sec.layout.pug

block bullet2
	li
		| We have solved recruiting challenges for over 19 industrial and manufacturing related firms.

block close
	p: small
		| You want only the top team talent for your business.  A manufacturing recruitment agency who specializes in your industry and business knows what you need and delivers you the right person so 
		strong you don't have to wait weeks or months to fill highly specialized roles yourself.
