section.left_sec
  .pic
    #upperHomeImage.making-home-img
      img(src='common6/images/1412984300-2396-95836.jpg', width='325', alt='Home Page Image')
  h2
    | If You’re a Business That Wants to Fill Specialized "Manufacturing" Roles With The Most Qualified Talent Then You Should Call Us Right Now
  span
    | Learn How You Can Acquire Qualified, Experienced and Skilled 
    em Engineers, Technical Sales People or Managers…
    | And Pay As Low As 15% On Recruiting Fees
  p
    include ./tooltip/tooltip.manuf.112114.pug

  ul
    li
      | You benefit from 
      strong over 10 years of experience
      | and an extensive number of connections in manfacturing, technical sales, management and engineering.  We specialize in the recruitment of a wide range of manufacturing professionals.
    li
      | You 
      strong acquire talented and experienced candidates for a recruiting fee as low as 15%
      | .  (The industry standard is often 20-25%.)
  p
    small
      | You want only the top team talent for your business.  A recruiter who specializes in your industry knows what you need and delivers you the right person so 
      strong you don’t have to wait weeks or months to fill highly specialized roles yourself
      | .
  p
    small
      strong
        | You should not contact us if you are a candidate or an organization that wants only temporary or part time staff
      | .  We recruit the very best for full time positions only.  You are welcome to contact less specialized recruiters instead.
  p
    small
      | Call us now at (905) 482-0636 or fill out the form on this page for your free consultation.