extends left_sec.layout.pug

block headline
	h2 If You’re a Business That Wants to Fill Specialized "Aerospace" Roles With Expert Talent You Should Call Us Right Now

block extraheadline
	p
		include ./tooltip/tooltip.aero.120414.1.pug

block bullet1
	li
		| You benefit from 
		strong over 10 years of experience 
		| and an extensive number of connections in technical sales, management and engineering.  We specialize in the recruitment of a wide range of aerospace and aviation professionals.

block bullet2
	li
		| We have solved recruiting challenges for over 19 firms both large and mid-sized on a regular basis.

block close
	p: small
		| You want only the top team talent for your business.  An aerospace recruitment agency who specializes in your industry and business knows what you need and delivers you the right person so 
		strong you don't have to wait weeks or months to fill highly specialized roles yourself.
