extends left_sec.layout.jade

block homeImage
	img(src='common6/images/cc-healthcare.jpg', width='325', alt='Home Page Image')

block headline
	h2
		| If You’re a Business That Wants to Fill Specialized “Healthcare” Roles With The Most Qualified Talent Then You Should Call Us Right Now

block subheadline
	span
		| Learn How You Can Acquire Qualified, Experienced and Skilled Healthcare Specialists… And Pay As Low As 15% On Recruiting Fees

block extraheadline
	p
		include ./tooltip/tooltip.health.112314.1.jade

block bullets
	ul
		li
			| You benefit from 
			strong over 18 years of experience 
			| and an extensive number of connections in the health care and health recruitment field.
		li
			| You 
			strong acquire talented and experienced candidates for a recruiting fee as low as 15%
			| .  (The industry standard is often 20-25%.)
		li
			| Hire Occupational Therapists, Physiotherapists, Nurses, Disability Case Management Specialists and Ultrasound, Sonographer or Mammogram Technologists/Technicians and more...

block close
	p: small
		| You want only the top team talent for your business.  A health recruitment agency who specializes in your industry and business knows what you need and delivers you the right person so 
		strong you don't have to wait weeks or months to fill highly specialized roles yourself.

block CTA
	p: small
		| Call us now at (416) 598-4020 or fill out the form on this page for your free consultation.