extends left_sec.layout.pug

block homeImage
	img(src='common6/images/cc-healthcare.jpg', width='325', alt='Home Page Image')

block headline
	h2
		| If You’re A Practice That Wants to Fill Medical Device Roles With Qualified Talent Then You Should Call Us Right Now

block subheadline
	span
		| Learn How You Can Acquire Experienced and Skilled Ultrasound, Sonography or Mammogram Technologists &amp; Technicians… And Pay As Low As 15% On Recruiting Fees

block extraheadline
	p
		| We Specialize In Medical Device Recruitment For Any Private Medical or Health Practice.

block bullets
	ul
		li
			| You benefit from 
			strong over 18 years of experience 
			| and an extensive number of connections in the medical device recruitment field.
		li
			| We have successfully recruited for over 25 health and medical practices throughout Ontario including The Cleveland Clinic, Medisys, Centric Health, LifeMark and MedCan.
		li
			| You 
			strong acquire talented and experienced candidates for a recruiting fee as low as 15%
			| .  (The industry standard is often 20-25%.)

block close
	p: small
		| You want only the top experts for your care group.  A medical device recruitment agency who specializes in your industry and knows what you need delivers you the right person so 
		strong you don't have to wait weeks or months to fill highly specialized roles yourself.

block CTA
	p: small
		| Call us now at (416) 598-4020 or fill out the form on this page for your free consultation.