extends form_box.layout.jade

block formHeadline
	strong
		| Call Now Or Enter Your Info Below For Your FREE Consultation With A Medical Device Recruitment Specialist Right Here In Toronto

block formCTA
	small
		| Simply enter your info below or call (416) 598-4020 so we can help you hire the best talent for your company right now.