extends right_sec.layout.pug

block form
	include ./form_box/form_box.aviation.rec.MTL.112614.1.pug

block h2
	h2 Contact One of Montreal's Leading Aviation Recruitment Agencies Today!

block subheading
	p: small
		| We Are An Expert Aviation Recruitment Agency And We Will Solve Your Vacancy Problems Quickly

block summary
	p: small
		| Call now and speak with one of our aviation recruitment specialists and we will help you fill your vacancy quickly with highly talented, great fit candidates while 
		em saving you thousands of dollars in lost business, productivity and morale
		| .
