section.right_sec
  // recall that form_box.jade is in the same 'includes' folder so you can skip the 'common6/includes/'
  include ./form_box/form_box.jade

  h2
    | Contact Montreal's Leading Manufacturing Recruiter Today!
  p
    small
      | We Are Expert Manufacturing Recruiters And We Will Solve Your Vacancy Problems Quickly
  p
    small
      | Call now and speak with one of our manufacturing recruiters and we will help you fill your vacancy quickly with highly talented, great fit candidates while
      em saving you thousands of dollars in lost business, productivity and morale
      | .
  p
    small
      | This consultation is absolutely free and we will answer any and all questions you may have.
  .affiliationLogo1
    img(src='common6/images/affiliations/backcheck-logo.jpg', alt='BackCheck')
  .affiliationLogo2
    img(src='common6/images/affiliations/npa-logo.jpg', alt='NPA')
  .affiliationLogo3
    img(src='common6/images/affiliations/sme_logo.jpg', alt='SME')