extends right_sec.layout.jade

block form
	include ./form_box/form_box.health.rec.TOR.112314.1.jade

block h2
	h2 Contact One of Toronto's Leading Health Recruitment Agencies Today!

block subheading
	p: small
		| We Are An Expert Health Recruitment Agency And We Will Solve Your Vacancy Problems Quickly

block summary
	p: small: strong
		| Can you afford to be without key workers for weeks and months on end?
	p: small
		| Call now and speak with one of our health recruitment specialists and we will help you fill your vacancy quickly with highly talented, great fit candidates while 
		em saving you thousands of dollars in lost business, productivity and morale
		| .

block affiliationLogoSet
	.affiliationLogo1
		img(src='common6/images/affiliations/backcheck-logo.jpg', alt='BackCheck')
	.affiliationLogo2
		img(src='common6/images/affiliations/npa-logo.jpg', alt='NPA')