extends right_sec.layout.pug

block form
	include ./form_box/form_box.med.dev.ON.112714.1.pug

block h2
	h2 Contact One of Ontario's Leading Medical Device Recruitment Agencies Today!

block subheading
	p: small
		| We Are An Experienced Medical Device Recruitment Agency That Will Solve Your Vacancy Problems

block summary
	p: small: strong
		| Can you afford to be without key workers for weeks and months on end?
	p: small
		| Call now and speak with one of our medical device recruitment specialists and we will help you fill your vacancy quickly with talented, great fit candidates while 
		em saving you thousands of dollars in lost business, productivity and morale
		| .

block affiliationLogoSet
	.affiliationLogo1
		img(src='common6/images/affiliations/backcheck-logo.jpg', alt='BackCheck')
	.affiliationLogo2
		img(src='common6/images/affiliations/npa-logo.jpg', alt='NPA')